<?php


$uri = $_SERVER['REQUEST_URI'];


if(str_starts_with($uri, '/en')){
    $uri = str_replace("/en", "", $uri);}else if(str_starts_with($uri, '/mn')){
        $uri = str_replace("/mn", "", $uri);
    }



$lan = App::getRouter()->getLanguage(); 
$pathUrl = App::getRouter()->getPathWithLanguage();


?>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title><?=$data['site_title']?></title>
  </head>

  <body>
    <header class="bg-dark text-white">
      <section class="container">
        <nav class="navbar navbar-dark navbar-expand-lg ">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <?=Config::get('site_name')?>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link <?php if(App::getRouter()->getController()=='pages') echo 'active'; ?>"
                    aria-current="page"
                    href="/<?=App::getRouter()->getLanguage()?>/pages"
                  >
                    <?=__('default.menu_pages')?>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link <?php if(App::getRouter()->getController()=='contact') echo 'active'; ?>"
                    aria-current="page"
                    href="/<?=App::getRouter()->getLanguage()?>/contact"
                  >
                    <?=__('default.menu_contact')?>
                  </a>
                </li>
                <li class="nav-item">
                  <?php if($lan == 'en'):?>
                  <a
                    class="nav-link"
                    aria-current="page"
                    href="/mn/<?php echo $pathUrl ?>"
                    >MN</a
                  >
                  <?php else: ?>
                  <a
                    class="nav-link"
                    aria-current="page"
                    href="/en/<?php echo $pathUrl ?>"
                    >EN</a
                  >
                  <?php endif ?>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
    </header>
    <!-- <h3>default.html ==>
        <?=__('default.header')?>
    </h3> -->

    <main class="container mt-5">
      <?php if(Session::hasMessage()): ?>
      <div class="alert alert-info" role="alert">
        <?= Session::flash();?>
      </div>
      <?php endif ?>
      <?=$data['site_html_content']?>
    </main>

    <footer class="container footer text-center mt-5">
      <h3>
        <?=__('default.footer')?>
      </h3>
      <p>
        Copyright &copy;
        <?php echo date('Y') ?>
      </p>
    </footer>
  </body>
</html>
